<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="prometheus-net" version="3.1.0" targetFramework="net471" />
</packages>